<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>sora-Bold.otf</string>
		<string>sora-ExtraBold.otf</string>
		<string>sora-Regular.otf</string>
		<string>sora-SemiBold.otf</string>
		<string>Sora-Light.otf</string>
	</array>
</dict>
</plist>
